.education{
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 15px;
    align-items: center;
    justify-content: center;
}


.education .input{
    width: 700px;
    height: 25px;
    background-color: white;
    border: none;
    border-radius: 3px;

}