.DescriptionPreview{
    padding:0px 15px ;
   
}

.DescriptionPreviewBoxForBorder h3{
    font-family: Nunito, sans-serif;
    color: rgb(20, 62, 114);;
}

.DescriptionPreviewBoxForBorder{
    padding: 2px 2px ;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid rgba(20, 62, 114, 0.288);
    margin-bottom: 10px;
    width: 480px;
}

.DescriptionPreview p{
    font-family:  Nunito, sans-serif;;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4em;
    font-size: 16px;
}