.educationPreview {
    padding:0px 15px;
    
  }

.educationTabel{
 display: flex;
 column-gap: 50px;
 padding: 10px;

}

.educationPreviewBoxBorder h3{
    font-family: Nunito, sans-serif;
  color: rgb(20, 62, 114);;;
}

.educationPreviewBoxBorder{
    padding: 2px 2px ;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid rgba(20, 62, 114, 0.288);
    margin-bottom: 10px;
    width: 480px;
}


#timeFrameEducation{
    font-weight: 600;
    font-family: Nunito, sans-serif; ;
    font-size: 17px;
}
 

#universityPreview{
    font-weight: 600;
    font-family: Nunito, sans-serif; ;
    font-size: 17px;
}

#degreePreview{
    font-family: Nunito, sans-serif; 
    font-weight: 300;
}

#subjectPreview{
    font-family: Nunito, sans-serif; 
    font-weight: 300;
}