*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: rgb(204, 204, 204);;
    
}


header{
    background-color:  rgb(51, 51, 51);;
    height: 100px;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Form-preview-container{
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}

#Main-title{
    font-size: 60px;
    color: white;
    
}