.Form{
    
    background-color:rgb(238, 238, 238);
    width: 750px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 10px;
    

}

.add{
    padding: 12px 335px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
  }

  .add:hover{
    padding: 12px 335px;
    background-color: rgb(41, 41, 41);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
  }
  
  .delete{
    padding: 12px 328px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
  }

  .delete:hover{
    padding: 12px 328px;
    background-color: rgb(41, 41, 41);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
  }

  .buttons-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin:20px 0px;
    color: white;
    
   
  }

  .Genrate{
    background-color: rgb(27, 161, 72);
    width: 700px;
    padding: 12px 0px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    color: white;

  }


  .LoadExample{
    background-color: rgb(194, 92, 14);
    width: 700px;
    padding: 12px 0px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    color: white;


  }

  .Reset{
    background-color: rgb(179, 33, 30);
    width: 700px;
    padding: 12px 0px;
    border-radius: 5px;
   border: none;
   font-size: 17px;
   color: white;
    


  }