.preview{
     position: sticky;
    top: 0;
    background-color:rgb(238, 238, 238);
    width: 750px;
    height: 900px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-template-rows: 140px 1fr 1fr 1fr;

    
}


.otherInfo{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding:14px 10px;
}